body{font:14px "arial";color:#333;margin:0 10px;padding:0;}
html,body{height:100%;overflow:hidden}
/*
 * auto resize in window height;
.hd{background:#e3e;height:50px;top:0;position:absolute;width:100%;}
.page{border:1px;background:green;top:0;left:0;min-height:100%;height:auto;padding:50px 0px;}
.main{border:1px;background:red;height:100%;margin-top:50px;}
.ft{text-align:center;background:gray;border-top:1px solid #999;margin-top:30px;padding:10px 0px;bottom:0px;position:absolute;width:100%;position:fixed;}
*/

.page{background:#fdfeff;top:0;left:0;overflow:hidden;/*min-height:100%;height:auto;min-width:600px*/}
/*.hd{height:44px;background:#fcfdff;border-bottom:1px solid #b7c5e3;}*/
.hd{height:44px;background:#fcfdff;border-bottom:1px solid #b7c5e3;}
.main{background:;}
.ft{text-align:center;margin-top:20px;bottom:0px;line-height:24px;clear:both;font-size:12px;color:#333;}
.logo{width:200px;height:40px;background:url(../img/bg.png) no-repeat 10px 8px;background-position:left 0 bottom -26px;}
.hd div.logo a{display:block;width:200px;height:40px;}
.hd-panel{display:;left:220px;top:25px;position:absolute;background:;z-index:99;}
/*.hd-panel div.control-panel{font-size:14px;margin-top:-17px;margin-right:10px;margin-left:220px;background:transparent;text-align:;}*/
.hd-panel div.control-panel{position:;font-size:14px;}
.create-newfolder{width:220px;padding:5px;background:#fff;border:2px solid #b7c5e3;position:absolute;z-index:102}
.upload-area{background:#fff;display:;position:absolute;border:2px solid #b7c5e3;z-index:102;padding:0 5px;padding-top:5px;color:#999}
#UploadPathTips,#divStatus{font-size:12px;color:#999}
.user-bar{top:0;right:0;text-align:right;position:absolute;;color:#666;margin:5px 5px 0 0;height:20px}

/*.dir-list-container{overflow:auto;white-space:nowrap;background:;float:left;width:200px;}*/
/*.dir-root{float:left;width:200px;background:green}*/
/* the width of directory tree define in .dir-list and .file-list. the width default value is 220px*/
.dir-list{background:;clear:left;min-height:100%;height:auto;top:0;bottom:0;overflow:auto;white-space:nowrap;float:left;
width:218px;border-right:2px solid #b7c5e3
}
.dir-list a{color:#333;}
.dir-list {white-space:nowrap;}
.dir-list div{display:block;width:100%;}

.file-list{background:;padding-left:220px;}
.file-list-title{width:auto;left:0;right:0}
.file-list-content{overflow:auto;background:;width:auto;left:0;right:0}
.file-table-list a {color:#333;padding-left:20px;}
table.file-table-list{font-size:14px;border-collapse:separate;border-spacing: 0;border:0;margin:4px 0 4px 0}

table.file-table-list, table.file-table-head{width:100%}
*html .file-list-content{width:98%;}
*html .file-list-title{width:98%;}
*+html table.file-table-list{width:97%}
*html .file-list-content{overflow-x:hidden;}

table.file-table-list tr{height:22px;}
table.file-table-list td{padding-left:5px;word-break:break-all;word-wrap:break-word;}
table.file-table-list td a{text-overflow:ellipsis;text-overflow:clip;line-height:18px;height:18px;/*background:red;padding:3px;*/}
table.file-table-list .table-name{width:35%;min-width:200px;background:#fdfeff;}
table.file-table-list .table-size{width:15%;width:100px;background:#fdfeff}
table.file-table-list .table-modified-date{width:25%;width:200px;background:#fdfeff}
table.file-table-list .table-type{width:10%;width:100px;background:#fdfeff}
table.file-table-list .table-blank{width:;background:#fdfeff}

table.file-table-head{font-size:14px;border-collapse:separate;border-spacing: 0;border:0;}
table.file-table-head .table-name{width:35%;min-width:200px;background:#fdfeff;text-overflow:ellipsis;}
table.file-table-head .table-size{width:15%;width:100px;background:#fdfeff}
table.file-table-head .table-modified-date{width:25%;width:200px;background:#fdfeff}
table.file-table-head .table-type{width:10%;width:100px;background:#fdfeff}
table.file-table-head .table-blank{width:;background:#fdfeff}
table.file-table-head th{
font-weight:bold;;background:url(../img/list_tit_bg.gif);
border-left:1px solid #e3e4e6;border-right:1px solid #fcfcfd;border-top:0px solid #b7c5e3;
text-align:left;vertical-align:middle;padding-left:5px;
height:24px;white-space:nowrap;}

.tr-over {background:#edf7fd;}
.file-edit-bar{border:;position:absolute;background:#edf7fd;padding:0 5px 0 5px;line-height:22px;}
/*.file-edit-bar span{margin:0 5px 0 5px;}*/
.file-edit-bar span a{padding:0 10px 0 10px;margin-left:6px;}
.file-edit-bar span a:hover{text-decoration:none}
.file-edit-bar a.edit-delete{background:url(../img/edit.png) no-repeat center center;background-position:0px -2px;}
.file-edit-bar a.edit-copy{background:url(../img/edit.png) no-repeat center center;background-position:0px -26px;}
.file-edit-bar a.edit-rename{background:url(../img/edit.png) no-repeat center center;background-position:0px -48px;}

.file-rename-area{background:#edf7fd;position:absolute;height:22px}
.file-rename-area span{margin:0 5px 0 5px;}
.file-rename-area input{font-size:12px;margin:0;padding:}
.help-area {background:#fff;width:600px;height:400px;z-index:102;position:absolute;font-size:14px;border:2px solid #b7c5e3;}
.help-area h2{font-weight:700;text-align:center;margin:0;font-size:16px}
.help-area h3{font-weight:700;text-align:center}
.help-content{overflow:auto;height:90%;margin:10px;}
.help-content dl {width:98%;margin-top:16px;padding:0 0 8px 0;background:#f8f8f8;}
*html .help-content dl{width:96%;;}/*ie6*/
*+html .help-content dl{width:96%;}/*ie7*/ 
.help-content dd {padding:2px 10px;}
.help-content dt {background:#e5ecf9;padding:3px 0 3px 5px;margin-bottom:3px}

.line-bar{background:#b7c5e3;margin-left:;clear:both;height:1px;}
.info-panel{background:url(../img/info_panel_bg.gif) repeat-x top ;margin-left:;display:block;height:40px;padding-left:200px;padding-top:8px}
.info-panel dl{width:30%;min-width:40px;float:left;}
.info-panel dl.hard-size{float:left;min-width:200px;}
.help-close{text-align:center}

/**
 各种icon
 */
.folder{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -40px;}
.file{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -62px;}
.txt{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -82px;}
.swf{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -102px;}
.exe{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -122px;}

.doc{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -142px;}
.xls{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -162px;}
.ppt{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -182px;}
.pdf{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -202px;}

.img{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -222px;}
.gif{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -242px;}
.jpg{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -262px;}
.png{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -282px;}

.html{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -302px;}
.js{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -322px;}
.css{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -342px;}

.zip{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -362px;}
.rar{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -382px;}
.mp3{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -402px;}
.rm{background:url(../img/bg.png) no-repeat scroll center center;background-position:0 -422px;}
 /*
.folder{background:url(../img/icon/ico_dir.gif) no-repeat scroll left center;}
.file{background:url(../img/icon/ico_file.gif) no-repeat scroll left center;}
.txt{background:url(../img/icon/ico_txt.gif) no-repeat scroll left center;}
.swf{background:url(../img/icon/ico_swf.gif) no-repeat scroll left center;}
.exe{background:url(../img/icon/ico_exe.gif) no-repeat scroll left center;}

.doc{background:url(../img/icon/ico_doc.gif) no-repeat scroll left center;}
.xls{background:url(../img/icon/ico_xls.gif) no-repeat scroll left center;}
.ppt{background:url(../img/icon/ico_ppt.gif) no-repeat scroll left center;}
.pdf{background:url(../img/icon/ico_pdf.gif) no-repeat scroll left center;}

.img{background:url(../img/icon/ico_img.gif) no-repeat scroll left center;}
.gif{background:url(../img/icon/ico_gif.gif) no-repeat scroll left center;}
.jpg{background:url(../img/icon/ico_jpg.gif) no-repeat scroll left center;}
.png{background:url(../img/icon/ico_png.gif) no-repeat scroll left center;}

.html{background:url(../img/icon/ico_html.gif) no-repeat scroll left center;}
.js{background:url(../img/icon/ico_js.gif) no-repeat scroll left center;}
.css{background:url(../img/icon/ico_css.gif) no-repeat scroll left center;}

.zip{background:url(../img/icon/ico_zip.gif) no-repeat scroll left center;}
.rar{background:url(../img/icon/ico_rar.gif) no-repeat scroll left center;}

.mp3{background:url(../img/icon/ico_mp3.gif) no-repeat scroll left center;}
.rm{background:url(../img/icon/ico_rm.gif) no-repeat scroll left center;}
*/

.drag-bar{width:10px;cursor:w-resize;position:absolute;left:213px;display:block}

.login{background:#fcfdff}
.login-form{text-align:center;}
.login-form form{text-align:left;background:;width:350px;margin: 0 auto;border-left:2px solid #b7c5e3;padding-left:30px}
.login-form form input{font-size:14px;}
.login-tit span{color:red}
.login-form ol li.login-txt{width:60px;float:left}
.login-form ol button{font-size:16px;font-family:'微软雅黑';border:2px outset #b7c5e3;background:#fdfeff}
.login-info-panel{height:10px;background:url(../img/info_panel_bg.gif) repeat-x top ;margin-left:;display:block;height:40px;padding-left:200px;padding-top:8px}
.login-tit{font-size:16px;}
.validate-tips{font-size:11px;color:#999}
.login-tips{font-size:11px;color:red;margin-left:10px}
.mask{display:none;z-index:100;top:0;left:0;position:absolute;filter:alpha(opacity=50); -moz-opacity:0.50; opacity:0.50;background:#b7c5e3;height:100%;width:100%}
.close-button{font-size:14px;border:1px solid #b7c5e3;padding:2px 5px 2px 5px;}
a.close-button:hover{text-decoration:none;background:#f1f1f1}


